<div class="container">
  <form [formGroup]="mainFormGroup" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Favorite food</mat-label>
      <mat-select formControlName="valueShouldBe">
        <mat-option
          *ngFor="let valueOption of valueOptions"
          [value]="valueOption.code"
        >
          {{ valueOption.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ngx-material-autocomplete-force-select
      [options]="getAutocompleteTwoOptions"
      [autocompleteInputOptions]="getAutocompleteAutoOptions"
      [parentForm]="mainFormGroup"
      controlName="autocompleteforceSelect"
    >
    </ngx-material-autocomplete-force-select>
  </form>

  Autocomplete field value:
  {{ getSelectedValue }}
  <br /><br />
  Accepted values: <br />
  id: 1, code: 'test', display: <b>'Test'</b> <br />
  id: 2, code: 'test2', display: <b>'Second test'</b><br />
  id: 3, code: 'lorem', display: <b>'Lorem'</b> <br />
  id: 4, code: 'loremi', display: <b>'Lorem Ipsum'</b> <br />
  id: 5, code: 'loremit', display: <b>'Lorem Ipsum Test'</b> <br />
  id: 6, code: 'test', display: <b>'Test'</b> <br />
  id: 7, code: 'BE', display: <b>'Belgium'</b> <br />
  id: 8, code: 'BY', display:<b> 'Belarus'</b> <br />
  id: 9, code: 'BM', display: <b>'Bermuda'</b> <br />
</div>
